<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <% if !params[:category_id].nil? %>
    <input type='hidden' name='product[category_id]'
      value='<%= params[:category_id] %>'/>
    <% else %>
    <%= f.label :category_id %><br />
    <select name='product[category_id]' >
      <%= @categories.each do |cat| %>
        <option value='<% cat.id %>'>
          <%= cat.name %>
        </option>
      <% end %>
    </select>
    <% end %>
  </div>
  <%= params.inspect %>
  <%= params[:category_id].inspect %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
