<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<div>
  <%= image_tag(@product.picture_url, :width => 600) if @product.picture.present? %>
</div>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Code:</b>
  <%= @product.code %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_id %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
